.header {
background-color: lightpink;
padding: 20px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

h1 {
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px 5px gray;
  color: black;
  padding: 10px;
  gap: 20px;

}

p {
  font-size: large;
  font-family: serif;
}

ul {
  border: lightpink;
  border-radius: 15px;
  gap: 10px;
  margin: auto;

}